:root {
    --altura-header: 70px;
}
html {
    font-size: 14px;
    font-family: "Open Sans",sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}
body{
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    background-color: #fafafa;
    overflow: auto;
    margin: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    background-color: #0a0b14;
}
header{
    background-color: #0a0b14;
    height: var(--altura-header);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    
}

.conteudo {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    height: 100%;
}

.conteudo ul{
    display: block;
    list-style-type: disc;
    margin: 0;
    padding: 0 0 0 30px;
    display: flex;
    gap: 30px;
}

.conteudo ul li a {
    font-size: 1.1em;
    letter-spacing: .05em;
    color: #cacaca;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    height: var(--altura-header);
    line-height: var(--altura-header);
    padding: 0 10px;
}
.logo{
    position: relative;
    float: left;
    padding: 0 4rem;
}
#background{
    background-image: url(../Background.png);
    height: 100vh;
    background-size: cover;
    box-shadow: inset 0 0 500px 240px black;
    background-position: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.logo2{
    bottom: 60px;
    position: relative;
}

.nossamissao {
    font-weight: 300;
    color: #9896ae;
    font-size: 1.8em;
    position: relative;
    bottom: 30px;
    width: 399px;
    text-align: center;
}
.box1 {
    position: absolute;
    border: 1px solid #9896ae;
    border-top: 0;
    border-right: 0;
    width: 16px;
    height: 16px;
    opacity: .7;
    left: -16px;
    bottom: -8px;
}
.box2 {
    position: absolute;
    border: 1px solid #9896ae;
    border-left: 0;
    border-bottom: 0;
    width: 16px;
    height: 16px;
    opacity: .7;
    right: -16px;
    top: -6px;
}
.separador {
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 20px;
    width: 100%;
}
.linha{
    opacity: .5;
    flex: 1;
    height: 1px;
    background-color: #9896ae
}
.bola img{
    width: 90px;
}