:root {
    --altura-header: 70px;
}
html {
    font-size: 14px;
    font-family: "Open Sans",sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}
body{
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    background-color: #fafafa;
    overflow: auto;
}
header{
    background-color: #0a0b14;
    height: var(--altura-header);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    
}

.conteudo {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    height: 100%;
}

.conteudo ul{
    display: block;
    list-style-type: disc;
    margin: 0;
    padding: 0 0 0 30px;
    display: flex;
    gap: 30px;
}
.conteudo ul li {
    
}
.conteudo ul li a {
    font-size: 1.1em;
    letter-spacing: .05em;
    color: #cacaca;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    height: var(--altura-header);
    line-height: var(--altura-header);
    padding: 0 10px;
}
.logo{
    position: relative;
    float: left;
    padding: 0 4rem;
}