:root {
  --altura-header: 70px;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  background-image: url(../img/zone1.9dd90e3.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  transform: translatez(0);
  -webkit-transform: translatez(0);
  
  background-color: #fafafa;
  overflow: auto;
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
header {
  background-color: #0a0b14;
  height: var(--altura-header);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
}

.conteudo {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  height: 100%;
 
}

.conteudo ul {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0 0 0 30px;
  display: flex;
  gap: 30px;
}

.conteudo ul li a {
  font-size: 1.1em;
  letter-spacing: 0.05em;
  color: #cacaca;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  height: var(--altura-header);
  line-height: var(--altura-header);
  padding: 0 10px;
  white-space: nowrap;
}
.logo {
  position: relative;
  float: left;
  padding: 0 4rem;
}
#background {
  background-image: url(../img/Background.png);
  height: 100vh;
  background-size: cover;
  box-shadow: inset 0 0 500px 240px black;
  background-position: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.logo2 {
  bottom: 60px;
  position: relative;
}

.nossamissao {
  font-weight: 300;
  color: #9896ae;
  font-size: 1.8em;
  position: relative;
  bottom: 30px;
  width: 399px;
  text-align: center;
}
.box1 {
  position: absolute;
  border: 1px solid #9896ae;
  border-top: 0;
  border-right: 0;
  width: 16px;
  height: 16px;
  opacity: 0.7;
  left: -16px;
  bottom: -8px;
}
.box2 {
  position: absolute;
  border: 1px solid #9896ae;
  border-left: 0;
  border-bottom: 0;
  width: 16px;
  height: 16px;
  opacity: 0.7;
  right: -16px;
  top: -6px;
}
.separador {
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 20px;
  width: 100%;
}
.linha {
  opacity: 0.5;
  flex: 1;
  height: 1px;
  background-color: #9896ae;
}
.bola img {
  width: 90px;
}
#Team {
  background-image: url(../img/fundocinza.jpg);
  background-size: cover;
  background-position: 50%;
}
#Jobs{
  background-image: url(../img/fundocinza.jpg);
  background-size: cover;
  background-position: 50%;
}
.informa {
  position: relative;
  padding: 6em 2em;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1280px;
  right: 5%;
}

.texto {
  flex: 1;
  padding: 0 2em;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
}

.informa::before {
  pointer-events: none;
  opacity: 0.05;
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  background-image: url(../img/runa.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: 5px;
}
.informax{
  position: relative;
  padding: 2em 2em 5em 2em;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1280px;
    right: 5%;
}
.informax::before {
  pointer-events: none;
  opacity: 0.05;
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  background-image: url(../img/runa.png);
  background-repeat: no-repeat;
  background-size: 600px;
  background-position-x: 50px;
  background-position-y: center;
}
.divider {
  background: #969285;
  height: 1px;
  width: calc(100% - 14px);
  margin-left: 6px;
  position: relative;
}
.subtexto {
  color: #7a7463;
  font-size: 1.5em;
  font-weight: 700;
}
.subtexto p {
  line-height: 160%;
  letter-spacing: 0.02em;
  font-size: 1.05em;
  font-weight: 400;
  margin: 0.8em 0;
}
.titulo {
  color: #1d0e47;
  font-size: 4rem;
  font-weight: 800;
  margin: 0;
}
.titulo h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.divider::before {
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  border: 1px solid #969285;
  transform: rotate(45deg);
  top: -3px;
  left: -7px;
}
.divider::after {
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  border: 1px solid #969285;
  transform: rotate(45deg);
  top: -3px;
  right: -7px;
}
.sectiontext {
  color: #060707;
}
.sectiontext p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  line-height: 160%;
  letter-spacing: 0.02em;
  font-size: 1.05em;
  font-weight: 400;
  margin: 0.8em 0 3em 0;
  text-align: left;
  float: right;
}
.guerreiros {
  padding: 0;
  flex: 1;
  z-index: 10;
}
.guerreiros img {
  width: 110%;
}
.ogro{
  padding: 0;
  flex: 1;
  z-index: 10;
  margin-left: 10%;
}
.ogro img {
  width: 140%;
}

.actionbutton {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.meubotao {
  background-color: #1a62ff;
  padding: 0.7em 2em;
  border-radius: 0.35em;
  color: #f7f7f7;
  font-weight: 800;
  font-size: 1.05em;
  border: 0;
  cursor: pointer;
}

#Hytale {
  position: relative;
  height: 650px;
  background: linear-gradient(270deg,rgba(13,9,22,.9),rgba(13,9,22,.8) 40%,rgba(13,9,22,.1) 70%,rgba(13,9,22,0)); /*AQUI!!!!!!*/
  overflow-y: hidden;
}

.border-effect-top {
  position: absolute;
  top: 0;
  left: 0;
}

.border-effect-bottom {
  position: absolute;
  bottom: -6px;
  left: 0;
}

#Hytale .border-effect-bottom img {
  width: 100%;
}

#Hytale .border-effect-top img {
  width: 100%;
}
.hytalecontainer{
  position: relative;
  padding: 6em 2em;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  max-width: 1280px;
}
section{
  overflow-x: hidden;
  padding: 0 1em;
}
.hytalecontent{
  flex: 1;
  
    width: 100%;
    
    
    
    max-width: 550px;
}

.hytalecontent h2{
  
    color: #9896ae;
    font-size: 4rem;
    padding-bottom: 0.1em;
    font-weight: 800;
    margin: 0;
    text-align: left;
    position: relative;
    background: linear-gradient(#ffe98d,#e19f27);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-repeat: no-repeat;
    background-size: 100% 98%;
    background-position: 50%;
}
.hytalesub{
  color: #7a7463;
    font-size: 1.5em;
    text-align: left;
    font-weight: 700;
}
.hytaletext{
  margin-top: 1em;
    color: #cacaca;
}
.hytaletext p{
  display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    line-height: 160%;
    letter-spacing: .02em;
    font-size: 1.05em;
    font-weight: 400;
    margin: 0.8em 0px 3em;
    padding: 0 1em;
}
footer{
  background: radial-gradient(circle,#19162b 0,#19162b 14%,#0c0818 50%);
  position: relative;
  padding-bottom: 70px;
}
footer::before{
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #322d45;
}
.footercontent{
  display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 40px;
}
.footercontent img{
  margin-top: 40px;
  width: 200px;

  filter: drop-shadow(0 6px 10px rgba(0,0,0,.12)) drop-shadow(0 1px 18px rgba(0,0,0,.14)) drop-shadow(0 3px 5px rgba(0,0,0,.12)) drop-shadow(0 -2px 3px rgba(0,0,0,.1));
}
.footerlinks{
  margin-top: 35px;
}
.footerlink{
  padding: 0 20px;
    font-size: 1.3em;
    color: #9896ae;
    margin-top: 10px;
    font-weight: 200;
    text-transform: uppercase;
    border-right: 1px solid #9896ae;
}
.footerlink:last-child{
  
    border-right: 0;
}

/* HEADER RESPONSIVIDADE */

@media (max-width: 700px) {
  header .logo {
    display: none;
  }

  .conteudo ul li a {
    font-size: 0.8em;
  }

  .informa {
    flex-direction: column-reverse;
  }
  #hytale{
    background: linear-gradient(270deg,rgba(13,9,22,.9),rgba(13,9,22,.8) 40%,rgba(13,9,22,.5) 70%,rgba(13,9,22,.5));
  }
}

@media (max-width: 450px) {
  .conteudo ul li a {
    font-size: 0.7em;
  }
}
